Lab 2
Ex 1
Python Booleans

print(10 > 9 )
print(10 == 9)
print(10 < 9)

Ex 2

In [8]:
a = 200
b = 33

if b > a:
    print("b is greater than a ")
else:
    print("b is not greater than a")

b is not greater than a

Ex 3

In [11]:
print(bool("Hello"))
print(bool(15))

True
True

Ex 4

In [14]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

Ex 5

In [17]:
bool("abc")
bool(123)
bool(["apple","cherry","banana"])

True

Ex 6

In [20]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Ex 7

In [23]:
class myclass():
    def __len__(self):
        return 0

myobj = myclass()
print(bool(myobj))

False

Ex 8

In [26]:
def myFunction() :
    return True

print(myFunction())

True

Ex 9

In [29]:
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

Ex 10

In [32]:
x = 200
print(isinstance(x, int))

True

Python Operators
Ex 11

In [38]:
print(10 + 5)

15

Ex 12

In [41]:
print((6 + 3) - (6 + 3))

0

Ex 13

In [44]:
print(100 + 5 * 3)

115

Ex 14

In [47]:
print(5 + 4 - 7 + 3)

5

Python Lists
Ex 15

In [51]:
mylist = ["apple","banana","cherry"]

Ex 16

In [54]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

Ex 17

In [57]:
thislist = ['apple', 'banana', 'cherry', 'apple', 'cherry']
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 18

In [60]:
thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

3

Ex 19

In [63]:
list1 = ['apple', 'banana', 'cherry']
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

Ex 20

In [66]:
list1 = ['abc', 34, True, 40, 'male']

Ex 21

In [69]:
mylist = ['apple', 'banana', 'cherry']
print(type(mylist))

<class 'list'>

Ex 22

In [72]:
thislist = list(('apple','banana', 'cherry')) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Ex 23

In [77]:
thislist = ['apple', 'banana', 'cherry']
print(thislist[1])

banana

Ex 24

In [80]:
thislist = ['apple', 'banana', 'cherry']
print(thislist[-1])

cherry

Ex 25

In [83]:
thislist = ['apple', 'banana', 'cherry','orange', 'kiwi', 'melon', 'mango']
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Ex 26

In [86]:
thislist = ['apple', 'banana', 'cherry','orange', 'kiwi', 'melon', 'mango']
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

Ex 27

In [89]:
thislist = ['apple', 'banana', 'cherry','orange', 'kiwi', 'melon', 'mango']
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Ex 28

In [92]:
thislist = ['apple', 'banana', 'cherry','orange', 'kiwi', 'melon', 'mango']
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Ex 29

In [97]:
thislist = ['apple', 'banana', 'cherry']
if 'apple' in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Ex 30

In [100]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Ex 31

In [103]:
thislist = ['apple','banana', 'cherry', 'orange','kiwi','mango']
thislist[1:3] = ['blackcurrant', 'watermelon']
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

Ex 32

In [106]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Ex 33

In [109]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

Ex 34

In [112]:
thislist = ['apple', 'banana', 'cherry']
thislist.insert(2, 'watermelon')
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Ex 35

In [115]:
thislist = ['apple', 'banana', 'cherry']
thislist.append('orange')
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Ex 36

In [118]:
thislist = ['apple', 'banana', 'cherry']
thislist.insert(1, 'orange')
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Ex 37

In [121]:
thislist = ['apple', 'banana', 'cherry']
tropical = ['mango', 'pineapple', 'papaya']
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Ex 38

In [124]:
thislist = ['apple', 'banana', 'cherry']
thistuple = ['kiwi', 'orange']
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Ex 39

In [127]:
thislist = ['apple', 'banana','cherry']
thislist.remove('banana')
print(thislist)

['apple', 'cherry']

Ex 40

In [130]:
thislist = ['apple', 'banana', 'cherry', 'banana', 'kiwi']
thislist.remove('banana')
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

Ex 41

In [133]:
thislist = ['apple', 'banana', 'cherry']
thislist.pop(1)
print(thislist)

['apple', 'cherry']

Ex 42

In [136]:
thislist = ['apple', 'banana', 'cherry']
thislist.pop()
print(thislist)

['apple', 'banana']

Ex 43

In [146]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

Ex 44

In [151]:
thislist = ["apple", "banana", "cherry"]
del thislist

Ex 45

In [158]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Ex 46

In [161]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

Ex 47

In [164]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

Ex 48

In [171]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

Ex 49

In [174]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

Ex 50

In [177]:
fruits = ["apple" ,"banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

Ex 51

In [180]:
fruits = ["apple" ,"banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

Ex 52

In [183]:
newlist = [x for x in fruits if x != "apple"]

Ex 53

In [186]:
newlist = [x for x in fruits]

Ex 54

In [189]:
newlist = [x for x in range(10)]

Ex 55

In [192]:
newlist = [x for x in range(10) if x < 5]

Ex 56

In [195]:
newlist = [x.upper() for x in fruits]

Ex 57

In [198]:
newlist = ['hello' for x in fruits]

Ex 58

In [201]:
newlist = [x if x != "banana" else "orange" for x in fruits]

Ex 59

In [206]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Ex 60

In [209]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Ex 61

In [212]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

Ex 62

In [216]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Ex 63

In [219]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 56, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 56, 23, 82, 100]

Ex 64

In [222]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Ex 65

In [225]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Ex 66

In [230]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Ex 67

In [239]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Ex 68

In [242]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Ex 69

In [248]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

Ex 70

In [251]:
list1 = ['a','b','c']
list2 = [1,2,3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Ex 71

In [254]:
list1 = ['a','b','c']
list2 = [1,2,3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Ex 72

In [257]:
ist1 = ['a','b','c']
list2 = [1,2,3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

Python Tuples Ex 73

In [262]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Ex 74

In [265]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Ex 75

In [268]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Ex 76

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

Ex 77

In [275]:
tupte1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

Ex 78

In [278]:
tuple  = ("abc", 34, True, 40, "male")

Ex 79

In [281]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

Ex 80

In [313]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

TypeError: 'tuple' object is not callable

Ex 81

In [316]:
thistuple = ("apple" , "banana" , "cherry")
print(thistuple[1])

banana

Ex 82

In [319]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Ex 83

In [322]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Ex 84

In [325]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

Ex 85

In [328]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

Ex 86

In [331]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Ex 87

In [334]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Ex 88

In [337]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'tuple' object is not callable

Ex 89

In [340]:
thistuple = ('apple', 'banana', 'cherry')
y = list(thistuple)
y.append('orange')
thistuple = tuple(y)

TypeError: 'tuple' object is not callable

Ex 90

In [343]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Ex 91

In [346]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

TypeError: 'tuple' object is not callable

Ex 92

In [349]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) # this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Ex 93

In [353]:
fruits = ("apple", "banana", "cherry")

ex 94

In [358]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Ex95

In [361]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

Ex 96

In [364]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

Ex 97

In [367]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

Ex 98

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    pri(thistuple[i])

Ex 99

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

Ex 100

In [ ]:
tuple1 = ('a','b','c')
tuple2 = (1,2,3)

tuple3 = tuple1 + tuple2
print(tuple3)

Ex 101

In [ ]:
fruits = ('apple', 'banana', 'cherry')
mytuple = fruits * 2

print(mytuple)

Python Sets Ex 102

In [3]:
myset = {"apple","banana","cherry"}

Ex 103

In [6]:
thisset = {"apple","banana","cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

Ex 104

In [9]:
thisset = {"apple","banana","cherry","apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

Ex 105

In [12]:
thisset = {"apple","banana","cherry",True,1,2}

print(thisset)

{'apple', True, 2, 'cherry', 'banana'}

Ex 106

In [15]:
thisset = {"apple","banana","cherry", False,True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

Ex 107

In [18]:
thisset = {"apple","banana","cherry"}
print(len(thisset))

3

Ex 108

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {1,5,7,9,3}
set3 = {True, False, False}

Ex 109

In [24]:
set1 = {"abc", 34, True, 40, "male"}

Ex 120

In [27]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

Ex 121

In [30]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

Ex 122

In [34]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

Ex 123

In [38]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Ex 124

In [41]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Ex 125

In [44]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

Ex 126

In [47]:
thisset = {'apple', 'banana', 'cherry'}
tropical = {'pineapple', 'mango', 'papaya'}

thisset.update(tropical)

print(thisset)

{'apple', 'papaya', 'mango', 'pineapple', 'cherry', 'banana'}

Ex 127

In [56]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'apple', 'banana', 'kiwi', 'cherry'}

Ex 128

In [59]:
thisset = {'apple', 'banana', 'cherry'}

thisset.remove('banana')

print(thisset)

{'apple', 'cherry'}

Ex 129

In [64]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

Ex 130

In [69]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

Ex 131

In [72]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

Ex 132

In [77]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Ex 133

In [80]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

Ex 134

In [83]:
set1 = {'a','b','c'}
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

Ex 135

In [86]:
set1 = {'a','b','c'}
set2 = {1,2,3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

Ex 136

In [93]:
set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = {'John', 'Elena'}
set4 = {'apple', 'bananas', 'cherry'}

myset = set1.union(set1, set2, set3, set4)
print(myset)

{1, 2, 3, 'Elena', 'c', 'a', 'apple', 'John', 'b', 'cherry', 'bananas'}

Ex 137

In [96]:
set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = {'John', 'Elena'}
set4 = {'apple', 'bananas', 'cherry'}

myset = set1 | set2 | set3 | set4
print(myset)

{1, 2, 3, 'Elena', 'c', 'a', 'apple', 'John', 'b', 'cherry', 'bananas'}

Ex 138

In [99]:
x = {'a','b','c'}
y = {1,2,3}

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

Ex 139

In [102]:
set1 = {'a','b','c'}
set2 = {1,2,3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

Ex 140

In [105]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

Ex 141

In [108]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set3 = set1 & set2
print(set3)

{'apple'}

Ex 142

In [112]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set1.intersection_update(set2)
print(set1)

{'apple'}

Ex 143

In [115]:
set1 = {'apple', 1, 'banana', 0, 'cherry'}
set2 = {False, 'google', 1, 'apple', 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

Ex 144

In [118]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

Ex 145

In [121]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

Ex 146

In [126]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

Ex 147

In [131]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

Ex 148

In [136]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set3 = set1 ^ set2
print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

Ex 149

In [139]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'google', 'microsoft','apple'}

set1.symmetric_difference_update(set2)
print(set1)

{'google', 'microsoft', 'banana', 'cherry'}

Python Dictionaries Ex 150

In [142]:
thisdict = {
    "brand": "ford",
    "model": "Mustang",
    "year": 1964
}

Ex 151

In [145]:
thisdict = {
    "brand": "ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

Ex 152

In [148]:
thisdict = {
    "brand": "ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

ford

Ex 153

In [151]:
thisdict = {
    "brand": "ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
`}
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 2020}

Ex 154

In [154]:
print(len(thisdict))

3

Ex 155

In [157]:
thisdict = {
    "brand": "ford",
    "electric": False,
    "year": 1964,
    "colors": ["red","white","blue"]
}

Ex 156

In [160]:
thisdict = {
    "brand": "ford",
    "model": "Mustang",
    "year": 1964
}
print(type(thisdict))

<class 'dict'>

Ex 157

In [163]:
thisdict = dict(name = "John" , age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

Ex 158

In [166]:
thisdict = {
    "brand": "ford",
    "model": "Mustang",
    "year": 1964
}
x = thisdict["model"]

Ex 159

In [169]:
x = thisdict.get("model")

Ex 160

In [172]:
x = thisdict.keys()

Ex 161

In [183]:
Car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = Car.keys()

print(x) #before the change

Car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Ex 162

x = thisdict.values()

Ex 163

In [188]:
Car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = Car.values()

print(x) #before the change

Car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

Ex 164

In [191]:
Car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = Car.values()

print(x) #before the change

Car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

Ex 165

In [194]:
x = thisdict.items()

Ex 166

In [199]:
Car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = Car.items()

print(x) #before the change

Car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Ex 167

In [202]:
Car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x = Car.items()

print(x) #before the change

Car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

Ex 168

In [209]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Ex 169

In [212]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["year"] = 2018

Ex 170

In [217]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.update({"year": 2020})

Ex 171

In [220]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Ex 172

In [223]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.update({"color": "red"})

Ex 173

In [226]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Ex 174

In [229]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

Ex 175

In [232]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Ex 176 x

In [239]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because 'THISDICT' no longer exists.

NameError: name 'thisdict' is not defined

Ex 177

In [242]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Ex 178

In [245]:
for x in thisdict:
    print(x)

Ex 179

In [248]:
for x in thisdict:
    print(thisdict[x])

Ex 180

In [251]:
for x in thisdict.values():
    print(x)

Ex 181

In [254]:
for x in thisdict.keys():
    print(x)

Ex 182

In [257]:
for x, y in thisdict.items():
    print(x, y)

Ex 183

In [260]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Ex 184

In [263]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Ex 185

In [272]:
myfamily = {
    "Child" : {
        "name" : "Emil",
        "year" : 2004
    },
    "Child2" : {
        "name" : "Tobias",
        "year" : 2007
    },
    "Child3" : {
        "name" : "Linus",
        "year" : 2011
    }
}

Ex 186

child1 = {
    "name" : "Emil",
    "year" : 2004
}
child2 = {
    "name" : "Tobies",
    "year" : 2007
}
child3 = {
    "name" : "Linus",
    "year" : 2011
}

myfamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}

Ex 187

In [282]:
print(myfamily["child2"]["name"])

KeyError: 'child2'

Ex 188

In [285]:
for x, obj in myfamily.items():
    print(x)

    for y in obj:
        print(y + ':', obj[y])

Child
name: Emil
year: 2004
Child2
name: Tobias
year: 2007
Child3
name: Linus
year: 2011

Python if...else
Ex 189

In [288]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

 Ex 190 x

In [292]:
a = 33
b = 200
if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 3 (1111622982.py, line 4)

Ex 191

In [295]:
a = 33
b = 200
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

b is greater than a

Ex 192

In [298]:
a = 33
b = 200
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

Ex 193

In [301]:
a = 33
b = 200
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

Ex 194

In [304]:
if a > b: print("a is greater than b")

Ex 195

In [307]:
a = 2
b = 330
print("A") if a > b else print("B")

B

Ex 196

In [312]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

E 197

In [315]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

Ex 198

In [318]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

Ex 199

In [321]:
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

Ex 200

In [324]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

Ex 201

In [327]:
a = 33
b = 200

if b > a:
    pass

Ex 202

In [330]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

Ex 203

In [333]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

Ex 204

In [336]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

Ex 205

In [339]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Ex 206

In [342]:
fruits = ["appple", "banana", "cherry"]
for x in fruits:
    print(x)

appple
banana
cherry

Ex 207

In [345]:
for x in "banana":
    print(x)

b
a
n
a
n
a

Ex 208

In [350]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

Ex 209

In [353]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

Ex 210

In [358]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

Ex 211

In [361]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [363]:
for x in range(2, 6):
    print(x)

2
3
4
5

EX 212

In [366]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

Ex 213

In [369]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Ex 214

In [372]:
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

0
1
2

Ex 215

In [375]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Ex 216

In [377]:
for x in [0, 1, 2]:
    pass